@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	background:#FFF;
	color: #333131;
	text-align: center;
	font-family: 'Open-Sans', sans-serif;
}
nav {
	display:block;
	background: white;
	float: left;
	clear: both;
	font-size: 10px;
	padding: 10px;
}
nav a {
	text-decoration: none;
	text-align: left;
	color: #333131;
	margin-top: 30px;
	margin-right: 40px;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	letter-spacing: .15em;
	padding: 10px;
}
header{
	background:url(../images/collage5.jpg) no-repeat center center scroll;
	background-size: cover;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	height: 550px;
	padding: 0px;
	clear: both;
}
h1 {
	text-transform: uppercase;
	font-size: 30px;
	padding-top: 20px;
	letter-spacing: .1em;
}
h2 {
	margin: .5em;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: .025em;
}
h3 {
	font-size: 14px;
	text-align:left;
	letter-spacing: .1em;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #333131;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	letter-spacing: .15em;
}
a:hover {
	color: white;
	background: black;
	font-style: italic;
	text-transform: lowercase;
}
footer {
	text-align: left;
	letter-spacing: .15em;
	font-size: 14px;
	color: #333131;
	font-family: 'Inconsolata', monospace;
	clear:both;
}
#wrapper{
		width: 90%;
		margin: 0 auto;
}
#content{
	padding: 20px;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #333131;
	font-family: 'Open Sans', sans-serif;
}
#content img{
	height: initial;
	width: 100%;
	padding: .5em;
}
#content a:hover{
	color: white;
	background: black;
	font-style: italic;
}
#collage{
	padding: 10px;
	float: left;
	width: 25%;
}
#drawing{
	padding: 10px;
	float: left;
	width: 25%;
}
#works{
	padding: 10px;
	float: left;
	width: 25%;
}
#about{
	padding: 10px;
	float: left;
	width: 25%;
}
#portfolio{
	width: 90%;
	border: 1px solid black;
	padding: .5em;
	margin: 1em;
	float: left;
}
#portfolio img{
	float: left;
	width: 33%;
	padding: 1em;
	height: auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
