@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Coda');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	background:#FFF;
	color: #333131;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
nav a {
	text-decoration: none;
	text-align: center;
	color: #333131;
	margin-top: 30px;
	margin-right: 32px;
	border-bottom: 1px solid #333131;
	font-family: 'Coda', cursive;
	font-size: 16px;
}
h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 44px;
	padding-top: 10px
}
#lander{
	background:url(../images/collage5.JPG) no-repeat center center scroll;
	background-size: cover;
	height: 550px;
	padding: 0px;
}
#content{
	padding: 4px;
	font-size: 16px;
	line-height: 32px;
	text-align: left;
}