@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Coda');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	background:#FFF;
	color: #333131;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
nav{
	background: #E8C66A;
}
nav a {
	text-decoration: none;
	text-align: center;
	color: #333131;
	margin-top: 30px;
	margin-right: 32px;
	border-bottom: 1px solid #333131;
	font-family: 'Coda', sans-serif;
	font-size: 16px;
}
header{
	background:#FFED74;
	background-size: cover;
	height: 300px;
	padding: 0px;
}
h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 44px;
	padding-top: 10px
}
h3 {
	font-size: 16px;
}
footer {
	background: #FF957E;
	font-size: 13px;
}
#wrapper{
		width: 960px;
		margin: 0 auto;
}
#content{
	background: #FFE2B8;
	padding: 10px;
	font-size: 16px;
	line-height: 30px;
}
