body {
	background-color: #B6E2C9;
	color: #FFFFFF;
	font-family: Helvetica;
	text-align: center;
}
h1 {
	text-transform: uppercase;
}
a {
	color: #FFFFFF;
}
nav a {
	margin-top: 20px;
	margin-right: 15px;
}