body{
	background-color: #B6E2C9;
	color: #FFFFFF;
	font-family: Helvetica;
	text-align: center;
}
h1{
	text-transform: uppercase;
}
h3{
	font-style: italic;
}
p{
	font-size: 14px;
}
a{
	color: #FFFFFF;
}